# ==================================================================================
#                      @TinkoffCreditSystems/ng-morph codeowners
# ==================================================================================
#  More info: https://help.github.com/articles/about-codeowners/
#

* @IKatsuba @MarsiBarsi @sevaru
# will be requested for review when someone opens a pull request
