<tui-doc-main>
  <ng-container ngProjectAs="tuiDocHeader">
    <a
      class="npm-link"
      href="https://www.npmjs.com/package/ng-morph"
      target="_blank"
    >
      <img
        alt="npm-link"
        src="https://img.shields.io/npm/dy/ng-morph?color=gainsboro&style=flat-square"
      />
    </a>

    <a
      tuiLink
      tuiMode="onLight"
      class="github-link"
      href="https://github.com/taiga-family/ng-morph"
      target="_blank"
    >
      <img class="github" src="assets/images/github.svg" alt="" />
      GitHub
    </a>
  </ng-container>
</tui-doc-main>
