<tui-doc-main>
    <ng-container ngProjectAs="tuiDocHeader">
        <a
            href="https://www.npmjs.com/package/ng-morph"
            target="_blank"
            class="npm-link"
        >
            <img
                alt="npm-link"
                src="https://img.shields.io/npm/dy/ng-morph?color=gainsboro&style=flat-square"
            />
        </a>

        <a
            href="https://github.com/taiga-family/ng-morph"
            target="_blank"
            tuiLink
            tuiMode="onLight"
            class="github-link"
        >
            <img
                alt=""
                src="assets/images/github.svg"
                class="github"
            />
            GitHub
        </a>
    </ng-container>
</tui-doc-main>
