name: Deploy demo
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.3.1
      - uses: taiga-family/ci/actions/setup/variables@v1.186.0
      - uses: taiga-family/ci/actions/setup/node@v1.186.0
      - run: npm run build:demo
      - uses: taiga-family/ci/actions/deploy/github-pages@v1.186.0
        with:
          token: ${{ secrets.TAIGA_FAMILY_BOT_PAT }}
          folder: dist/apps/demo/browser

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
